<div class="min-h-screen  flex flex-col items-center p-6 bg-gray-50 dark:bg-gray-900  text-gray-800 dark:text-gray-200">
  <h1 class="text-3xl font-bold mb-6">Trainee Student Information Form</h1>

  <div class="flex items-center justify-between w-full">
    <div class="w-1/3"></div>

    <div class="flex flex-col items-center w-1/3">
      <button
        class="px-6 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 focus:outline-none dark:bg-red-700 dark:hover:bg-red-600"
        (click)="openForm()"
        [disabled]="today > currentInternshipDeadline"
        title="{{ today > currentInternshipDeadline ? 'Internship deadline has passed' : '' }}"
      >
        + Fill Trainee Student Form
      </button>

      <!-- Daha sade uyarı -->
      <p
      *ngIf="today > currentInternshipDeadline"
      class="mt-2 text-sm font-medium text-red-700 bg-red-100 dark:text-red-400 dark:bg-red-900 px-4 py-2 rounded shadow-sm"
    >
      Internship deadline has passed. You cannot submit new forms.
    </p>

    </div>



    <div class="text-right w-1/3">
      <div class="text-sm font-medium">
        Internship Application Deadline:
        <span class="text-red-500">{{ currentInternshipDeadline || 'Not Set' }}</span>
      </div>
      <div class="text-sm font-medium">
        Report Deadline:
        <span class="text-red-500">{{ currentReportDeadline || 'Not Set' }}</span>
      </div>
    </div>
  </div>

  <!-- Table for Displaying Forms -->
  <!-- (Tüm diğer kodlar aynı şekilde devam ediyor) -->

  <!-- Add Report Button inside reportAdding block -->
  <!-- Updated Button with Deadline Check -->

  <!-- Table for Displaying Forms -->
  <div class="w-full max-w-6xl overflow-x-auto mt-4">
    <table class="w-full border-collapse text-left bg-white dark:bg-gray-800 rounded-lg shadow-lg">
      <thead class="bg-gray-100 dark:bg-gray-700 text-center">
      <tr>
        <th class="border-b p-2">Name</th>
        <th class="border-b p-2">Course</th>
        <th class="border-b p-2">Evaluating Faculty</th>
        <th class="border-b p-2">Coordinator Approval</th>
        <th class="border-b p-2">Company Approval</th>
        <th class="border-b p-2">Supervisor Report</th>
        <th class="border-b p-2 text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let form of sortedForms; let i = index" class="hover:bg-gray-100 dark:hover:bg-gray-700 text-center">
        <td class="border-b p-2">{{ userFirstName }} {{ userLastName }}</td>
        <td class="border-b p-2">{{ form.code }}</td>

        <td class="border-b p-2">
          {{ form.evaluatingFacultyMember && form.evaluatingFacultyMember !== 'defaultEvaluator' ? form.evaluatingFacultyMember : 'Not Assigned' }}
        </td>
        @if (form.status == "Coordinator Approval Waiting") {
            <td class="border-b p-2 negative-status">Not Approved</td>
          }
        @else if(form.status == "RejectedByCoordinator"){
          <td class="border-b p-2 negative-status">Rejected</td>
        } @else {
            <td class="border-b p-2 positive-status">Approved</td>
          }
        @if (form.status == "Company Approval Waiting" || form.status == "Coordinator Approval Waiting") {
          <td class="border-b p-2 negative-status">Not Approved</td>
        } @else if(form.status == "RejectedByCoordinator"){
          <td class="border-b p-2 negative-status">Not Approved</td>
        }@else {
          <td class="border-b p-2 positive-status">Approved</td>
        }
        <td *ngIf="!(evaluationStatusMap[form.id] | async); else submittedTpl" class="border-b p-2 negative-status">
          Not Submitted
        </td>
        <ng-template #submittedTpl>
          <td class="border-b p-2 positive-status">
            <p class="positive-status ">
              Submitted
            </p>
          </td>
        </ng-template>

        <td class="border-b p-2">
          <div class="flex space-x-2">
            <button
              class="px-4 py-2 ml-4 bg-emerald-600 text-white rounded-lg hover:bg-emerald-700 "
              (click)="openDetails(form)"
            >
              Details
            </button>
            @if (form.status == "Company Approval Waiting" || form.status == "Coordinator Approval Waiting") {
              <button class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none" (click)="editForm(form)">
                Edit
              </button>
              <button
                class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 focus:outline-none"
                (click)="deleteForm(form)"
              >
                Delete
              </button>
            }
            @else if(form.status == "RejectedByCoordinator"){

            }
            @else {
              <button
                class="px-11 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 focus:outline-none"
                (click)="openReports(form)"
              >
                Reports
              </button>
            }
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal for Adding/Editing Forms -->
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 "
    *ngIf="isFormVisible">
    <div class="bg-white w-full max-w-lg p-6 rounded-lg shadow-lg overflow-y-auto relative dark:bg-gray-800 mt-6" [ngStyle]="{'margin-top': isAddingNewCompany ? '160px' : '160px' ,'margin-bottom': isAddingNewCompany ? '100px' : '100px', 'max-height': isAddingNewCompany ? 'calc(100vh - 160px)' :  'calc(100vh - 160px)' }" style=" margin-top: 60px;">

      <button
        class="absolute bg-white top-4 right-4 text-xl font-semibold text-gray-500 hover:text-gray-800"
        (click)="closeModal()">
        X
      </button>
  <div class="w-full ">
    <h2 class="text-xl font-bold mb-4">{{ isEditing ? 'Edit' : 'New' }} Internship Form</h2>
    <form (ngSubmit)="saveForm()">
      <!-- Student No -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Student No *</label>
        <input
          type="text"
          [value]="userName"
          name="studentNo"
          class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          disabled
        />
      </div>

      <!-- Name -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Name *</label>
        <input
          type="text"
          [value]="userFirstName"
          name="name"
          class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          disabled
        />
      </div>

      <!-- Surname -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Surname *</label>
        <input
          type="text"
          [value]="userLastName"
          name="surname"
          class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          disabled
        />
      </div>

      <!-- Course -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Course *</label>
        <select
          [(ngModel)]="formData.code"
          name="course"
          class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          required
        >
          <option value="CNG300">CNG300</option>
          <option value="CNG400">CNG400</option>
        </select>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Internship Start Date *</label>
          <!-- min="..." özelliği bugünden eski tarihlere izin vermeyecek -->
          <input
            type="date"
            name="startDate"
            [(ngModel)]="formData.startDate"
            [min]="today"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
            required
          />
        </div>
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Internship End Date * </label>
          <!-- min="..." özelliği bugünden eski tarihlere izin vermeyecek -->
          <input
            type="date"
            name="endDate"
            [(ngModel)]="formData.endDate"
            [min]="today"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
            required
          />
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Company *</label>
        <select
          [(ngModel)]="formData.company_user_name"
          (change)="onCompanyChange($event)"
          required
          class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          [attr.disabled]="isAddingNewCompany ? true : null">

          <option *ngFor="let comp of companies" [value]="comp">{{ comp }}</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="flex items-center text-gray-500">
          <input
            type="checkbox"
            (change)="toggleNewCompany($event)"
            class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          Add New
        </label>
      </div>

      <!-- Additional Location Fields -->
      <div *ngIf="isAddingNewCompany" class="space-y-4 mb-4">
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Company Name *</label>
          <input
            type="text"
            name="company_user_name" required
            [(ngModel)]="formData.company_user_name"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
        </div>

      </div>

      <!-- Branch Selection or Addition -->
      <div *ngIf="!isAddingNewCompany" class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Branch *</label>
        <select
          [(ngModel)]="formData.branch_name"
          (change)="onBranchChange($event)"
          required
          class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          [attr.disabled]="isAddingNewBranch ? true : null">
          <option *ngFor="let branch of branches" [value]="branch">{{ branch }}</option>
        </select>

        <label class="flex items-center mt-2 text-gray-500">
          <input
            type="checkbox"
            (change)="toggleNewBranch($event)"
            class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          Add New Branch
        </label>
      </div>

      <div *ngIf="isAddingNewBranch" class="space-y-4 mb-4">
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Name *</label>
          <input
            type="text"
            name="branch_name" required
            [(ngModel)]="formData.branch_name"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
        </div>

        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Tel *</label>
          <input
            type="text"
            name="company_branch_phone" required
            [(ngModel)]="formData.company_branch_phone"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
        </div>
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Email *</label>
          <input
            type="email"
            name="company_branch_email"
            [(ngModel)]="formData.company_branch_email"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
            required/>
        </div>
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Country *</label>
          <select
            name="company_branch_country" required
            [(ngModel)]="formData.company_branch_country"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600">
            <option *ngFor="let country of countries" [value]="country ? country : ''">{{ country }}</option>
          </select>
        </div>
          <div>
            <label class="block text-sm font-medium mb-2 text-gray-500">City *</label>
            <input
              name="company_branch_city" required
              type="text"
              [(ngModel)]="formData.company_branch_city"
              class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          </div>
          <div>
            <label class="block text-sm font-medium mb-2 text-gray-500">District *</label>
            <input
              name="company_branch_district" required
              type="text"
              [(ngModel)]="formData.company_branch_district"
              class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          </div>
          <div>
            <label class="block text-sm font-medium mb-2 text-gray-500">Branch Address *</label>
            <input
              name="company_branch_address" required
              type="text"
              [(ngModel)]="formData.company_branch_address"
              class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          </div>
        </div>



      <div class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Position *</label>
        <input
          type="text"
          name="position" required
          [(ngModel)]="formData.position"
          class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Type *</label>
        <div class="space-y-2">
          <label class="flex items-center text-gray-500">
            <input
              type="radio"
              name="type" required
              value="Voluntary"
              [(ngModel)]="formData.type"
              class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
            Voluntary
          </label>
          <label class="flex items-center text-gray-500">
            <input
              type="radio"
              name="type" required
              value="Compulsory"
              [(ngModel)]="formData.type"
              class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
            Compulsory
          </label>
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Health Insurance *</label>
        <div class="space-y-2">
          <label class="flex items-center text-gray-500">
            <input
              type="radio"
              name="insurance"
              [value]="true"
              required
              [(ngModel)]="formData.health_insurance"
              class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
            I have health insurance
          </label>
          <label class="flex items-center text-gray-500">
            <input
              type="radio"
              name="insurance"
              [value]="false"
              required
              [(ngModel)]="formData.health_insurance"
              class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
            I don’t have health insurance
          </label>
        </div>
      </div>


      <!-- Buttons -->
      <div class="flex justify-end mt-4">
        <button
          type="button"
          class="px-4 py-2 bg-gray-200 text-gray-800 rounded-lg hover:bg-gray-300 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 mr-2"
          (click)="closeForm()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700"
        >
          {{ isEditing ? 'Update' : 'Submit' }}

        </button>
      </div>
    </form>
    </div>
    </div>
  </div>
  <!-- Modal For Details -->


  <div
    *ngIf="selectedForm"
    class="fixed flex inset-0 items-center justify-center bg-black bg-opacity-50 z-50  "
  >


    <div class=" mt-40 items-center mb-24 w-full p-6 rounded-lg shadow-md bg-white dark:bg-gray-800 max-w-3xl">
      <h2 class="text-2xl font-bold mb-4 text-gray-800 dark:text-white">
        Trainee Information Form Details
      </h2>

      <div class="grid grid-cols-2 gap-4 mt-8 mb-8">
          <div><strong>Student Name:</strong> {{ selectedForm.name }} {{ selectedForm.lastName }}</div>
          <div><strong>Student Id:</strong> {{ selectedForm.username }}</div>
          <div><strong>Course Code:</strong> {{ selectedForm.code }}</div>
          <div><strong>Type:</strong> {{ selectedForm.type }}</div>
          <div><strong>Date:</strong> {{ selectedForm?.internshipStartDate ? selectedForm.internshipStartDate : selectedForm.startDate }} - {{ selectedForm?.internshipEndDate ? selectedForm.internshipEndDate : selectedForm.endDate }}</div>
          <div><strong>Semester:</strong> {{ selectedForm.semester }}</div>
          <div><strong>Supervisor Name:</strong> {{selectedForm.supervisorName}} {{selectedForm.supervisorSurname}} </div>
          <div><strong>Health Insurance:</strong> {{ selectedForm.healthInsurance == false ? 'No' : 'Yes' }}</div>
          <div><strong>Company Name:</strong> {{ selectedForm.companyUserName }}</div>
          <div><strong>Company Branch Name:</strong> {{ selectedForm.branchName }}</div>
          <div><strong>Company Phone:</strong> {{ selectedForm.companyPhone }}</div>
          <div><strong>Company Email:</strong> {{ selectedForm.companyEmail }}</div>
          <div><strong>Company Country:</strong> {{ selectedForm.country }}</div>
          <div><strong>Company City:</strong> {{ selectedForm.city }}</div>
          <div><strong>Company District:</strong> {{ selectedForm.district }}</div>
          <div><strong>Company Address:</strong> {{ selectedForm.companyAddress }}</div>
          <div><strong>Position:</strong> {{ selectedForm.position }}</div>
          <div><strong>Evaluating Faculty:</strong>
          {{ selectedForm.evaluatingFacultyMember && selectedForm.evaluatingFacultyMember !== 'defaultEvaluator' ? selectedForm.evaluatingFacultyMember : 'Not Assigned' }}
        </div>
        </div>
      <div class="mt-6 text-right">
        <button
          class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700"
          (click)="selectedForm = null"
        >
          Close
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="reportsPage"
    class="fixed flex inset-0 items-center justify-center bg-black bg-opacity-50 z-50  "
  >


    <div class=" mt-40 items-center mb-24 w-full p-6 rounded-lg shadow-md bg-white dark:bg-gray-800 max-w-5xl">
      <h2 class="text-2xl font-bold mb-4 text-gray-800 dark:text-white">
        Reports
      </h2>

      <div class="mt-0 ">
        @if(reports.length == 0 || reports == null){

        }
        @else{
        <div class="w-full max-w-6xl overflow-x-auto  mb-6">
          <table class="w-full border-collapse text-left bg-white dark:bg-gray-800 rounded-lg shadow-lg">
            <thead class="bg-gray-100 dark:bg-gray-700 text-center">
            <tr>
              <th class="border-b p-2">File</th>
              <th class="border-b p-2">Date</th>
              <th class="border-b p-2">Status</th>
              <th class="border-b p-2">Grade</th>
              <th class="border-b p-2">Feedback</th>
              <th class="border-b p-2 text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let report of reports; let i = index" class="hover:bg-gray-100 dark:hover:bg-gray-700 text-center">
              <td class="border-b p-2">
                <a (click)="downloadReport(report.id)"
                   class="text-sm text-blue-500 underline hover:text-blue-700 cursor-pointer">
                  Report {{ i + 1 }}
                </a>
              </td>
              <td class="border-b p-2"> {{ report.createdAt.slice(0, 10) }} </td>
              <td class="border-b p-2">{{ report.status }}</td>
              <td class="border-b p-2">{{ report.grade }}</td>
              <td class="border-b p-2">{{ report.feedback }}</td>
              <td class="border-b p-2 items-center  ">
                <div class="flex space-x-0  items-center justify-center">
                    <button
                      class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 focus:outline-none"
                      (click) = "deleteReport(report.id)"
                      [disabled]="report.status != 'Instructor Feedback Waiting'"
                    >
                      Delete
                    </button>

                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        }
       <!--        <div class="mb-6" *ngFor="let report of selectedFormReports.reports">
          <div><strong>Report Grade:</strong> </div>
          <div><strong>Report Feedback:</strong> {{ report.feedback }}</div>
        </div> -->
        @if (reportAdding){
          @if (uploadedFile){
            <div class=" w-full p-2">
              <a (click)="downloadUploadedReport()"> {{ uploadedFile.name }} </a>
            </div>
            <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded mt-4" (click)="uploadFile(reportFormId)">
              Add Report
            </button>
            <button class="bg-red-500 hover:bg-red-600 text-white px-4 ml-8 py-2 rounded mt-4" (click)="uploadedFile=null">
              Cancel
            </button>
          } @else {
            <h2 class="text-2xl font-bold mb-6 pt-4 ">Upload New Report</h2>
            <div
              class="upload-container  border-2 border-dashed p-6 rounded-lg text-center transition"
              (drop)="onDrop($event)"
              (dragover)="onDragOver($event)"
              (dragleave)="onDragLeave($event)"
            >
              <p class="text-gray-500 dark:text-gray-400">
                Drag and drop your PDF file here, or click to select a file.
              </p>
              <input
                type="file"
                id="resumeUpload"
                accept=".pdf"
                (change)="onFileSelected($event)"
                hidden
              />
              <button
                type="button"
                class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded mt-2"
                (click)="browseFile($event)"
              >
                Browse
              </button>
            </div>


          }
        } @else {
          <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded mt-4" (click)="reportAdding=true">
            Add Report
          </button>
        }

      </div>
      <div class="mt-6 text-right">
        <button
          class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700"
          (click)="closeReports()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<footer class="mt-12 w-full text-center text-sm text-gray-500 dark:text-gray-400 border-t border-gray-300 dark:border-gray-700 pt-4 pb-8">
  © {{ currentYear }} METU NCC Internship Management System
</footer>
